.product {
  display: flex;
  width: 573px;
  height: 707px;
}

.product__block {
  background-color: #f8fafc;
  padding: 45px;
}

.product__block:not(:last-child) {
  margin-right: 35px;
}

.product__img {
  text-align: center;
}

.product__title {
  text-align: center;
}

.product__desc {
  width: 483px;
  height: 72px;
}

.product__price {
  display: flex;
  justify-content: space-between;
}

.product__buy {
  display: flex;
  justify-content: flex-start;
}
